// same thing as before except...

// block only applies to the block axis (top and bottom)
// start only applies to the top
// end only applies to the bottom

p {
  margin: 2px;

  margin-block: 2px;
  margin-block-end: 2px;
  margin-block-start: 2px;

  margin-inline: 2px;
  margin-inline-end: 2px;
  margin-inline-start: 2px;
}
